<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>极客视界</title>
    <link rel="icon" type="image/png" href="image/favicon.ico"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link href="css/index.css" rel="stylesheet"></link>
</head>
<body>
    <img src="image/head.png" class="img-responsive" alt="Cinque Terre"></img>
    <div style="font-size: larger;background-color: #b1b4b6;padding-left: 10px">统计截止时间：2017年08月15日12时</div>
    <table class="table table-striped">
        <caption class="text-center" style="font-size: larger">京东众筹</caption>
        <thead>
        <tr style="background-color: #358de6">
            <th>#</th>
            <th>项目名称</th>
            <th>净增额（元）</th>
        </tr>
        </thead>
        <tbody >
        <tr >
            <td >
            <span  class="table_list__circle top3">1</span>
            </td>
            <td>
                奥运直饮水返回的撒发货撒发
            </td>
            <td>33333.33</td>
        </tr>
        <tr>
            <td><span  class="table_list__circle top3">2</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        <tr>
            <td><span  class="table_list__circle top3">3</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        <tr>
            <td><span  class="table_list__circle">4</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        <tr >
            <td><span  class="table_list__circle">5</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <caption class="text-center" style="font-size: larger">淘宝众筹</caption>
        <thead>
        <tr style="background-color: #358de6">
            <th>#</th>
            <th>项目名称</th>
            <th>净增额（元）</th>
        </tr>
        </thead>
        <tbody >
        <tr >
            <td >
                <span  class="table_list__circle top3">1</span>
            </td>
            <td>
                奥运直饮水返回的撒发货撒发
            </td>
            <td>33333.33</td>
        </tr>
        <tr>
            <td><span  class="table_list__circle top3">2</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        <tr>
            <td><span  class="table_list__circle top3">3</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        <tr>
            <td><span  class="table_list__circle">4</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        <tr >
            <td><span  class="table_list__circle">5</span></td>
            <td>净水器</td>
            <td>66666.66</td>
        </tr>
        </tbody>
    </table>
</body>
</html>