<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>极客视界</title>
    <link rel="icon" type="image/png" href="image/favicon.ico"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link href="css/index.css" rel="stylesheet"></link>
</head>
<body>
    <h1 style="text-align: center"><a href="/redirect?url=http://www.geekview.cn">极客视界官网</a></h1>

    <a href="/sinaLogin" >新浪微博登录</a>
    <a href="#" >微信登录</a>

    <form name="Form" action="/file" method="post"  enctype="multipart/form-data">
        <h1>采用multipart提供的file.transfer方法上传单个文件</h1>
        <input type="file" name="file"></input>
        <input type="submit" value="上传"></input>
    </form>

    <form name="Form2" action="/files/batch" method="post"  enctype="multipart/form-data">
        <h1>采用multipart提供的file.transfer方法上传多个文件</h1>
        <input type="file" name="file"></input>
        <input type="file" name="file"></input>
        <input type="submit" value="上传"></input>
    </form>

    <a href="mailto:scnu_wang@163.com;Subject=Hello&Body=你好">给我发邮件</a>
</body>
</html>